<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Flower Atelier reset hasła</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Do Twojego konta w panelu administracyjnym flower atelier zostanie wygenerowane nowe hasło. Kliknij link poniżej:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|${user.login}|">Reset Link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Pozdrowienia, </span>
            <br/>
            <em th:text="#{email.signature}">Zespół flower atelier.</em>
        </p>
    </body>
</html>
